@font-face {
    font-family: 'Museo';
    src: url('MuseoSansRegular.ttf');
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: 'Museo';
    src: url('MuseoSansLight.ttf');
    font-style: normal;
    font-weight: 300;
}
@font-face {
    font-family: 'Museo';
    src: url('MuseoSansBold.ttf');
    font-style: normal;
    font-weight: 700;
}
@font-face {
    font-family: 'Museo';
    src: url('MuseoSansBlack.ttf');
    font-style: normal;
    font-weight: 900;
}
@font-face {
    font-family: 'Museo';
    src: url('MuseoSansMedium.ttf');
    font-style: normal;
    font-weight: 500;
}